<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.android.com" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".chalrahi.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chalrahi.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".chalrahi.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".chalrahi.UserHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <receiver android:name=".utils.SmsNotifications">
            <intent-filter >
                <action android:name="in.chalrahi.sent"/>
                <action android:name="in.chalrahi.delivered"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
